<!-- search section -->
<div class="container">

    <form id="searchForm" [formGroup]="searchForm">
        <div class="row">
        <div class="col-md-2">
            <label class="col-form-label">Search:</label>
        </div>
        <div class="col-md-10">
            <input class="form-control" formControlName="searchValue" id="searchValue"/>
        </div>
        </div>
        <div class="float-right" style="margin-top: 10px">
            <button id="searchButton" class="btn btn-success" (click)="search()"> Search</button>
        </div>
    </form>

</div>

<!-- listview displaying the data -->
<div *ngIf="repositories.length > 0">
    <data-table id="my-table"
                [title]="'GitHub Repositories'"
                [items]="repositories"
                [itemCount]="repositories.length">
        <data-table-column
                [header]="'Repository Name'">


            <ng-template #dataTableCell let-item="item">
                <a routerLink="/view/{{item.name}}/{{item.owner.login}}" routerLinkActive="active">{{item.name}}</a>
            </ng-template>

        </data-table-column>
        <data-table-column
                [property]="'forks'"
                [header]="'Fork'">
        </data-table-column>
        <data-table-column
                [property]="'stargazers_count'"
                [header]="'Star Gazer'">
        </data-table-column>
        <data-table-column
                [property]="'open_issues_count'"
                [header]="'Open issues'">
        </data-table-column>

    </data-table>
</div>

<router-outlet></router-outlet>